@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #808080;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.conteiner {
  padding: 24px 156px;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}

.data-select {
  display: flex;
  column-gap: 8px;
  margin-bottom: 32px;
}

.user-input {
  width: 272px;
  color: #2e2f42;
  letter-spacing: 0.64px;

  border: 1px solid #808080;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:hover {
  border-color: #000;
}

.user-input:focus {
  border-color: #4e75ff;
  color: #000;
}

.user-input::placeholder {
  color: #2e2f42;
  letter-spacing: 0.64px;
}

.form-button {
  display: inline-block;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #6c8cff;
}
